header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black ; 
    background-image: linear-gradient(to bottom, gray,white);
    color: black;
}

li{
    display: inline-block;
    margin:1rem;
    cursor: pointer;
}
